body
{
    margin: 0;
    padding: 0;
}

#draw-shapes, #info
{
    background-color: black;
}

#logo
{
    width: 100%;
    height: 50px;
}

#info
{
    height: 100px;
    overflow: auto;
    margin: auto;
    font-family: Arial;
    padding: 5px;
    width: 630px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #a9a9a9;
}

#draw-shapes
{
    width: 640px;
    height: 480px;
    margin: 0 auto;
    margin-bottom: 10px;
}
