<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <appSettings>
        <add key="LOGENTRIES_TOKEN" value="dfe261d4-52e9-4622-913e-3117c542bec6" />
        <add key="log4net.Internal.Debug" value="true" />
        <add key="LOGENTRIES_ACCOUNT_KEY" value="" />
        <add key="LOGENTRIES_LOCATION" value="" />
    </appSettings>
</configuration>
