<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <appSettings>
        <add key="LOGENTRIES_TOKEN" value="9298a4c2-f468-454e-8720-58ca3bb79227" />
        <add key="log4net.Internal.Debug" value="true" />
        <add key="LOGENTRIES_ACCOUNT_KEY" value="87018f58-6aa2-44a8-9b1a-7307cbf11ae2" />
        <add key="LOGENTRIES_LOCATION" value="localhost/Asteroids" />
    </appSettings>
</configuration>
