body { margin:0;padding:0; }

#logo{
    width: 100%;
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 183px;
}

#info {
    height: 100px;
    overflow: auto;
    margin:auto;
    font-family:Arial;
    background: #000;
    padding:5px;
    width:630px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    color: #a9a9a9;
}

#draw-shapes {
    width: 640px;
    height: 480px;
    margin: 0 auto;
    margin-bottom:10px;
}