<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <pages controlRenderingCompatibilityVersion="4.0"/>
    </system.web>
    <appSettings>
        <!-- For WebSockets -->
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

        <add key="LOGENTRIES_TOKEN" value="9298a4c2-f468-454e-8720-58ca3bb79227"/>
        <add key="log4net.Internal.Debug" value="true"/>
        <add key="LOGENTRIES_ACCOUNT_KEY" value="87018f58-6aa2-44a8-9b1a-7307cbf11ae2"/>
        <add key="LOGENTRIES_LOCATION" value="localhost/Asteroids"/>
    </appSettings>
</configuration>